body {
    margin: 0px;
    font-family: Arial;
}

.navlogo {
    width: 20px;
    padding: 20px 10px;
}

#kaynimage {
    width: 500px;
    border: 1px solid black;
    margin-bottom: 100px;
}

#productimage {
    flex: 2;
}

#introtext {
    flex: 1;
}

nav {
    display: flex;
    border-bottom: 1px solid black;
    background-color: black;
    padding-left: 100px;
}

nav a {
    text-decoration: none;
    padding: 20px 10px;
    color: white;
}

header {
    border-bottom: 1px solid black;
}

.productnaam {
    margin-top: 100px;
    margin-left: 100px;
}

.product {
    display: flex;
    margin: 0px 100px;

}

.bestellen {
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 5px 100px;
}

#productomschrijving {
    display: flex;
    gap: 50px;
}

#productomschrijving {
    padding: 100px 100px;

}

.plusminpunten {
    background-color: black;
    flex: 1;
    padding: 40px 30px;
    color: white;

}

.omschrijving {
    flex: 2;
}

#gerelateerdeproducten {
    background-color: black;
    color: white;
    text-align: center;
}

.andereproducten {
    display: flex;
    justify-content: center;
}